[submodule "libhermit-rs"]
	path = libhermit-rs
	url = https://github.com/tlambertz/libhermit-rs.git
	branch = virtio
[submodule "loader"]
	path = loader
	url = https://github.com/tlambertz/rusty-loader.git
	branch = master
